.ProjectCard {
  display: block; 
}

.card {
  margin: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: rgb(255, 98, 98);
  border-style: solid;
  border-width: 3px;
  border-radius: 5%;

}

.card-title {
  color: rgb(187, 4, 4);
}