.ProjectCard {
  display: block; 
}

.card {
  margin: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: rgb(255, 98, 98);
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem 3rem 1rem 1rem;
}
.small {
  color: red;
}

h3 {
  color:  rgb(140, 0, 255);
}
.card:hover {
  transform: translateX(-10px); 
  transform: scale(1.07);
  transition: 1s;
  }

.card-title {
  color: rgb(187, 4, 4);
}
.card {
  cursor: pointer;
}
.card-header {
  color: #937a7a !important;
}